@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: Nunito, sans-serif;
  background-color: #ced1de;
}
h1 {
  margin: 0;
  padding: 0;
}

header {
  background-color: #aea7c5;
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h2 a {
  text-decoration: none;
  font-size: 1.5em;
  margin: 20px;
  font-style: italic;
}

span {
  color: #ffa600;
}

.container_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
}

.container_nav li {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  list-style: none;
}

.container_nav li a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
}

h1 {
  font-size: 46px;
  font-weight: 700;
  padding: 20px 40px;
  color: #fff;
}

p {
  font-size: 2.5em;
  color: #e7e7e7;
  padding: 20px 40px;
  margin: 0 auto;
}

.container_section {
  background-image: linear-gradient(rgba(1, 29, 55, 0.6), rgba(3, 66, 79, 0.6)), url(https://d335luupugsy2.cloudfront.net/cms/files/793314/1752861196/$scpi8rf8qyn);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
