@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: Nunito, sans-serif;
  background-color: #ced1de;
}

header {
  background-color: #aea7c5;
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav h2 a {
  text-decoration: none;
  font-size: 1.5em;
  margin: 20px;
  font-style: italic;
}

span {
  color: #ffa600;
}

.container_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  padding: 10px;
}

.container_nav li {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  list-style: none;
}

.container_nav li a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 600;
}

h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}

p {
  text-align: center;
  font-size: 2em;
  color: #0d0137;
}
