@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: Nunito, sans-serif;
  background-color: #bcbec6;
}

h1 {
  text-align: center;
  font-size: 46px;
  font-weight: 700;
}

p {
  text-align: center;
  font-size: 2em;
  color: #0d0137;
}
